@model List<novelconvert.Models.NovelModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="near_head">
    <div class="recommand-comic">
        <h3>RECOMMEND</h3>
        <div class="recommand-novel-detail">

        </div>
        <h4>THE WORLD OF THE CHAMPION</h4>
        <p>Long long time ago, one porn star</p>
    </div>
    <div class="new-chapter">
        @for (int i = 0; i < 6; i++)
        {
            <div class="new-chapter-board">
                <h3>
                    <a href="#">
                        @Model[i].Name
                    </a>

                </h3>
                <p>
                    @Model[i].Viewer viewer
                </p>
                <span>
                    This is a small story about money, how can you give the money to me
                </span>
            </div>
        }

    </div>
    <div class="top-novel">
        <h3>TOP NOVEL</h3>
        <table class="table">
            @for (int i = 1; i < 11; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@Model[i].Name</td>
                    <td><span class="badge badge-light">@Model[i].Voting votes</span></td>
                </tr>
            }
        </table>
    </div>

    <div class="novel-reading">
        <h3>NOVEL READING <span><a href="#">NOVEL</a></span></h3>
        <table class="table">
            @for (int i = 1; i < 11; i++)
            {
                <tr>
                    <td><img src="@Model[i].Image_link" class="img-rounded" alt="Cinque Terre"></td>
                    <td>@Model[i].Name</td>
                    <td style="text-align:right">Continue</td>
                </tr>
            }
        </table>
    </div>

    <div class="new-novel">
        <h3>NEW UPDATE</h3>
        <table class="table">
            @for (int i = 1; i < 11; i++)
            {
                <tr>
                    <td><img src="@Model[i].Image_link" class="img-rounded" alt="Cinque Terre"></td>
                    <td>@Model[i].Name</td>
                    <td style="text-align:center">@Model[i].Author</td>
                    <td style="text-align:center">@Model[i].Chap_number</td>
                    <td style="text-align:center">@Model[i].Recommandation</td>
                </tr>
            }
        </table>
    </div>
</div>